* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  /* text-shadow: .1rem .1rem .2rem rgb(2, 2, 2);  */
  color: white;
  margin: 0.5rem;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4535c1;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.scoreBoard {
  display: flex;
}

.scoreBox {
  height: 3rem;
  width: 15rem;
  margin: 0.2rem 0.2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border: 7px solid #478ccf;
  box-shadow: 0.1rem 0.1rem 0.2rem black;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: #36c2ce;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.gameBox {
  background-color: #36c2ce;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.2rem black;
  flex-wrap: wrap;
  padding: 3rem;
  transition: 5s;
}

input {
  display: none;
}

.box {
  height: 5.5rem;
  width: 5.5rem;
  background-color: #77e4c8;
  margin: 0.2rem 0.4rem;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.2rem black;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: 100;
  transition: 0.5s;
}

.gameBox :hover {
  height: 6rem;
  width: 6rem;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.footer {
  width: 30rem;
  height: 4.5rem;
  background-color: #478ccf;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.2rem black;
}

.resetBtn {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.2rem black;
  background-color: #77e4c8;
  color: white;
  margin: 0.5rem;
  font-weight: 1000;
}

.newBtn {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.2rem black;
  background-color: #77e4c8;
  color: white;
  margin: 0.5rem;
  font-weight: 1000;
}
